<!-- Lesson Header -->
<div>
  <h2>
    {{topic.0.name}}
  </h2>
</div>
<!-- Video Player iFrame -->
<div>
  <iframe
    width='560'
    height='315'
    src='{{topic.0.video_link}}'
    title='YouTube video player'
    frameborder='0'
    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen'
  ></iframe>
</div>