:root {
  --primaryfont: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  /* Color Pallette */
  --primary: rgb(173, -0, 28);
  --secondary: rgb(107, 20, 38);
  --tertiary: rgb(250, 220, 212);
  --quaternary: rgb(196, 206, 195);
  --quinary: rgb(131, 160, 138);
  --senary: rgb(66, 120, 87);
  --septenary: rgb(32, 118, 91);
  --octonary: rgb(36, 63, 46);
  --nonary: rgb(43, 49, 35);

  --color1: rgb(0, 147, 166);
  --color2: rgb(0, 166, 129);
  --color3: rgb(9, 67, 86);
  --color4: rgb(27, 50, 70);
  --color5: rgb(38, 32, 46);
  --color6: rgb(1, 41, 44);
  --color7: rgb(168, 0, 13);
  --color8: rgb(103, 2, 11);

/* Element Breakdown */
  --body_color: rgb(196, 206, 195);

  --topnavPrimary_color: rgb(36, 63, 46);
  
  --topnavBtn_color: rgb(32, 118, 91);
  --loginBtnHover_color: rgb(0, 166, 129);

  --topnavFont_color: rgb(9, 9, 9);
  --topnavTxtBorder_color: rgb(9, 9, 9);

  --topnavTxtBg_color: rgb(0, 166, 129);

  --topnavBtnBorder: rgb(9, 9, 9);

  --sidebarToggle_color: rgb(32, 118, 91);
  --sidebarHover_coler: rgb(0, 166, 129);

  --sidebarBg_color: rgb(38, 32, 46);

  --sidebarSecondary_color: rgb(43, 49, 35);

  --sidebarTitle_color: rgb(38, 32, 46);
  --sidebarLi_color: rgb(131, 160, 138);
  --dropdownBg_color: rgb(179, 240, 73);
  --dropdownItems_color: rgb(56, 81, 35);
  --dropdownHoverText_color: rgb(250, 220, 212);
  --dropdownHoverOverlay_color: rgb(107, 20, 38);

  --lessonTitle_color: rgb(0,0,0);

  --notesTitle_color: rgb(0,0,0);
  --notesinputBg_color: rgb(250, 220, 212);

  --cardHeaderBg_color: rgb(131, 160, 138);
  --cardheaderTxt_color: rgb(0, 0, 0);
  --cardbodyBg_color: rgb(196, 206, 195);
  --cardbodyTxt_color: rgb(0, 0, 0);

  --delBtnBg_color: rgb(56, 81, 35);
  --delBtnTxt_color: rgb(32, 118, 91);
  --delBtnBorder_color: rgb(250, 220, 212);
  --delBtnBgHvr_color: rgb(56, 81, 35);
  --delBtnTxtHvr_color: rgb(32, 118, 91);
  --delBtnBorderHvr_color: rgb(250, 220, 212);
}

body {
  line-height: 1.5;
  font-family: var(--primaryfont);
  background-color: var(--body_color);
}

.navbar {
  background-image: url("../images/galaxy_banner.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
  position: sticky;
  border: 2px solid black;

  top: 0;
  z-index: 100;
  background-color: var(--topnavPrimary_color);
  color: var(--sidebarTitle_color);
  width: 100%;
  margin-bottom: 1%;
  }

.navbar-brand {
  background-color: var(--topnavTxtBg_color);
  border-radius: 1px;
  border: 2px solid var(--topnavTxtBorder_color);
  padding: 1%;
  padding-right: 3%;
  padding-left: 3%;
 color: var(--topnavFont_color);
 opacity: 88%;
 font-size: 250%;
 margin-left: 1%;
 margin-right: 5%;
 margin-top: 6%;
 margin-bottom: 6%;
 display: inline-block;
 white-space: normal;
}

.navbar-brand:hover {
 opacity: 93%;
 transition: 350ms;
}

.offcanvas {
  background-color: var(--sidebarBg_color);
}

.navbar-toggler {
  background-color: var(--sidebarToggle_color);
  opacity: 90%;
}

.navbar-toggler:hover {
  background-color: var(--sidebarHover_coler);
  transition: 350ms;
  opacity: 100%;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--sidebarLi_color) !important;
  opacity: 50%;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--sidebarLi_color) !important;
  transition: 300ms;
  opacity: 100%;
}

#activeLi {
  opacity: 100%;
}

.dropdown-menu {
  background-color: var(--dropdownBg_color);
}

.dropdown-item {
  color: var(--dropdownItems_color);
}

.dropdown-item:hover {
  color: var(--dropdownHoverText_color);
  background-color: var(--dropdownHoverOverlay_color);
  transition: 300ms;
}


#logDiv {
  display: flex;
  justify-content: center;
  margin-right: 9%;
  margin-left: 2%;
}

#logBtn {
  border-width: 3px;
  border-radius: 3px;
  border-color: var(--topnavBtnBorder);
  background-color: var(--topnavBtn_color);
  color: var(--topnavFont_color);
  opacity: 80%;
}

#logBtn:hover {
  transition: 300ms;
  background-color: var(--loginBtnHover_color);
  opacity: 95%;
}

h2 {
  margin-left: 10%;
  margin-bottom: 4%;
  margin-top: 10%;
  color: var(--lessonTitle_color);
  font-size: 200%;
}

h6 {
  margin-top: 3%;
  margin-left: 4%;
  color: var(--notesTitle_color);
}

.videoPlayer {
  border: 2px solid black;
}

.form-control {
  background-color: var(--notesinputBg_color);
  margin-bottom: .5%;
  margin-left: 2%;
  margin-right: 2%;
  border: 1px solid black;
}

.form-control:focus {
  background-color: var(--notesinputBg_color);
}

#rsDiv {
  text-align: right;
  margin-bottom: 1%;
}

h4 {
  font-size: 66%;
  display: inline;
  margin-right: 3%;
  opacity: 18%;
}

h4:hover {
  opacity: 66%;
  transition: 350ms;
}

.card {
  border: 1.5px solid black;
  border-radius: .25rem;
}

.card-header {
  background-color: var(--cardHeaderBg_color);
  border-bottom: 1px solid black;
}

h5 {
  color: var(--cardheaderTxt_color);
}

.card-body {
  background-color: var(--cardbodyBg_color);
  border-radius: .1rem;
}

.card-text {
  color: var(--cardbodyTxt_color);
}

#delBtn {
  color: var(--delBtnTxt_color);
  background-color: var(--delBtnBg_color);
  border-color: var(--delBtnBorder_color);
  opacity: 75%;
}
#delBtn:hover {
  color: var(--delBtnTxtHvr_color);
  background-color: var(--delBtnBgHvr_color);
  border-color: var(--delBtnBorderHvr_color);
  opacity: 99%;
  transition: 325ms;
}